# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependencies and configurations
node_modules/
.env
.vscode/

# Ignore build files
dist/
build/

# Ignore development files
*.log
*.tmp

# Ignore IDE files
.idea/
*.swp
*.swo

# Ignore Sass files (if you use them)
.sass-cache/
*.css.map

# Ignore user files
*.user
*.suo