:root {
    --primary-color: #3D8D7A;
    --secondary-color: #B3D8A8;
    --light-gray: #FBFFE4;
    --transition-speed: 0.3s;
    --header-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    line-height: 1.6;
    padding-top: var(--header-height);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


@media (max-width: 768px) {
    .nav-list {
        position: fixed;
        z-index: 1000;
        top: var(--header-height);
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        padding: 1rem;
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;
        transition: all var(--transition-speed);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .nav-list.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .hero {
        background-image: url('/assets/images/hero-banner-mobile.webp');
    }


    .pagination button {
        background: var(--primary-color);
        color: white;
        border: none;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 8px;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

    }
    
    .pagination button:hover:not(:disabled) {
        background: var(--secondary-color);
        transform: scale(1.05);
    }
    
    .pagination button:not(:disabled) {
        margin: 0.3rem;
    }
    
    .pagination button:disabled {
        background: #ccc;
        cursor: not-allowed;
    }
    
    .pagination .active {
        background: var(--secondary-color);
        font-weight: bold;
        transform: scale(1.1);
    }

    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-section {
        text-align: center;
    }

    .footer-title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .social-links {
        justify-content: center;
    }
}

